{% extends "admin/base.html" %}
{% block title %}
Dropdown Export
{% endblock %}
{% block admin_content %}
<div class="container-fluid">
    <h3>
        Dropdown Export
    </h3>
    <div class="card">
        <div class="card-body">
            <p>
                Export dropdown option data.
            </p>
             <a href="{{ url_for('exports.dropdowns_download') }}"
              class="btn btn-primary">
                Download Dropdown Export
            </a>
            <a href="{{ url_for('exports.index') }}"
              class="btn btn-primary">
               Cancel
            </a>
        </div>
    </div>
</div>
{% endblock %}