<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Account Invitation</title>
</head>

<body>

    <h2>Account Invitation</h2>

    <p>

        Hello {{ user.name }},

    </p>

    <p>

        An account has been created for you in
        the Laboratory Forms System.

    </p>

    <p>

        Click the button below to activate
        your account:

    </p>

    <p>

        {{ invitation_link }}

            Accept Invitation

        </a>

    </p>

    <p>

        This invitation expires in 7 days.

    </p>

</body>

</html>