{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <div class="card">

            <div class="card-header">

                <h4>Password Reset</h4>

            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">

                            Email Address

                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        Send Reset Link

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}