{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.email.label }}
                        {{ form.email(
                            class="form-control"
                        ) }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label }}
                        {{ form.password(
                            class="form-control"
                        ) }}
                    </div>
                    {{ form.submit(
                        class="btn btn-primary w-100"
                    ) }}
                </form>
                <hr>
                <a href={{ url_for(
                    'auth.request_reset'
                ) }}>
                    Forgot Password?
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}