{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <div class="card">

            <div class="card-header">

                <h4>Reset Password</h4>

            </div>

            <div class="card-body">

                <form method="POST">

                    {{ form.hidden_tag() }}

                    <div class="mb-3">

                        {{ form.password.label }}

                        {{ form.password(
                            class="form-control"
                        ) }}

                    </div>

                    <button
                        type="submit"
                        class="btn btn-success">

                        Update Password

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}